* {
  font-family: 'Gill Sans', 'Gll Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#page {
  display: grid;
  margin: 0px;
  /* height: 100%; */
  /* height: 100vh; */
  grid-template-areas:
    "nav nav"
    "sidebar  home"
    "sidebar  home";
  grid-template-rows: 75px 1fr;
  grid-template-columns: 0.75fr 4fr;
}

#app-home{
  background-color: aquamarine;
}

#nav {
  padding: 10px;
  grid-area: nav;
  background-color: #09123f;
}

#sidebar {
  height: 100%;
  top: 0; /* Stay at the top */
  padding: 15px;
  grid-area: sidebar;
  background-color:#09123f;
}

#home {
  padding: 0px;
  grid-area: home;
  background-color: #09123f;
}


  