

  <div class= "navbar fixed-top">
  <nav>
    <div class="nav-wrapper ">
      <img src="..\assets\pics\siamusiclogo-modified.png" alt="siamusiclogo"style="width: 75px ;">
      Meine Musiksammlung
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><i class="material-icons prefix">search</i></li>
        <li><input id="icon_prefix" type="text" class="validate"></li>
        <li><a class="btn-floating waves-effect waves-light grey" [routerLink]="'/songs'"><i class="material-icons">add</i></a></li>
        <!-- <li><label for="icon_prefix">First Name</label></li> -->
        <li><a class="waves-effect waves-light btn">Log In</a></li>
      </ul>
    </div>
  </nav>
</div>
