    
        <ol>
            <!-- <li> <i class = "material-icons" [routerLink]="'/'" >home</i > Home</li> -->
            <li>  <a class="nav-link " [routerLink]="'/'"><i class = "material-icons">home</i> Home</a></li>
            <li>  <a class="nav-link " [routerLink]="'/artists'"><i class = "material-icons">library_books</i> Künstler</a></li>
            <li>  <a class="nav-link " [routerLink]="'/alben'"><i class = "material-icons">mic_external_on</i> Alben</a></li>
        </ol>

        
    