@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

 *{ padding: 20px;
    border: 20 px; 
    /* color: antiquewhite;
    background-color: #09123f; */
} 

    legend{
        color: #09123f;
        font-weight: bold;
    }

    label{
        font-size: x-large;
    }

    .btn{
        padding: 5px;
        border: 5px;
    }

    .pfad{
        display: none;

    }

    
