<!-- <div class = "form-area">
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->


      <legend  class="mb-1 h2" > Neuen Song hinzufügen </legend>
      <div class="form-group">
        <form #songsForm="ngForm" (ngSubmit) = "onNewSong(songsForm.value)"  >
          <div class="mb-1 row">
            <label class="col-2 col-form-label " >Songtitel</label>
            <div class="col-10">
              <input type="text" class="col-7 form-control" id="songtitel" name="title" ngModel />
            </div>
          </div>
          <div class="mb-1 row">
            <label class="col-2 col-form-label" >Künstler</label>
            <div class="col-10">
              <input type="text" class="col-7 form-control" id="künstler " name="artist" ngModel />
            </div>
          </div>
          <div class="mb-1 row">
            <label class="col-2 col-form-label" >Liedlänge</label>
            <div class="col-10">
              <input type="email" class="col-7 form-control" id="liedlaenge" placeholder="m:ss" name="slength" ngModel />
            </div>
          </div>
          <div class="mb-1 row">
            <label class="col-2 col-form-label" >Albumtitel</label>
            <div class="col-10">
              <input type="text" class="col-7 form-control" id="albumt" name="album" ngModel/>
            </div>
          </div>
          <div class="pfad">
            <label class="col-2 col-form-label" >Pfad</label>
            <div class="col-10">
              <input type="text"  class="col-7 form-control" id="image" name="simage" ngModel/>
            </div>
          </div>
          <div class="row ">
            <button type="submit" class="col-3 btn btn-primary font-weight-bold" >Aktualisieren</button>
            <div class="col-2"></div>
            <button type="button" class="col-3 btn btn-secondary font-weight-bold" [routerLink]="'/'">Abbrechen</button>
          </div>
        </form>
      </div>

  