
<div class="card-columns">
    <div class="container d-flex flex-wrap align-items-center "> <!--anordnung!-->
        <div></div>
            <div class="card shadow" style="width:350px" 
            
            *ngFor="let songs of uniqueSet(); let i=index;">
                <!-- JavaScript code -->
                <script> let kuenstler = new Set()</script>
                <img class="card-img-bottom" src= "..\assets\cover\default.png"   alt="Card image" style="width:100%">                
                <h4 class="card-title">{{songs}}</h4>
                <div class="card-body">
                </div>
              </div>
            </div>
        </div>
